*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
background-color:cadetblue;
}

header {
    background-color: midnightblue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

footer {
    color: white;
    background-color: midnightblue;
    bottom:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    padding: 30px;
}

.hidden {
  visibility:hidden;
}

.visible {
    visibility:visible;
}

#topdown-menu{
    display:flex;
    position:absolute;
    top:100px;
    right : 30px;
    background-color:white;
    text:midnightblue;
    /*text-align:center;*/
    padding-inline :20px;
}

#topdown-menu hr {
color:midnightblue;
}

#topdown-menu li {
list-style:none;
    padding:10px;
}

#topdown-menu a {
    text-decoration:none;
}

}

h1{
    font-size:36px;
    font-family: "Bitstream Charter";
}

h2{
    color:midnightblue;
    text-align:center;
    margin-bottom:70px;
}

.feeder {
    width: 70%;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position:relative;
}

.picto-refresh{
    position:absolute;
    right:180px;
    top:710px;
}

.fish-card{
    color: midnightblue;
    width: 100%;
    border: 3px solid midnightblue;
    border-radius: 30px;
    background-color:white;
    margin-top:30px;
    padding:40px;
    display:flex;
    flex-direction: column;
}

.fish-image{
    width:40%;
    border: 1px solid black;
    margin-block:10px;
}

.label-list{
    display:flex;
    flex-direction:row;
    justify-content: start;
    align-items:center;
    margin-bottom:10px;
}

.fish-label{
    background-color:midnightblue;
    color: white;
    display:flex;
    margin-right:5px;
    padding-inline:5px;
    padding-block:2px;
    border-radius:3px;
}

.fish-description {
margin-top:20px;
    margin-left:20px;
}




@media screen and (max-width:700px) {
    h1{
        display:none;
    }
    .feeder {
        width: 100%;
    }
    .fish-card{
        align-items:center;
    }
    .fish-image{
        width:80%;
    }
    h2{
        margin-bottom:10px;
    }
}